https://modrinth.com/mod/variants-cit
for seeing custom item textures
https://modrinth.com/mod/entity-texture-features
allowing mob renames
https://modrinth.com/mod/server-pack-unlocker
lets you put this overlay on top of dragonspeak